.contactContainer {
  width: 100vw;

  position: fixed;

  background-image: linear-gradient(to right, tomato, #4c40f0, tomato);

  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.mailBtn {
  text-decoration: none;
  transform: translateX(-100vw);
  animation: mailBtnAnimation 2s forwards;
}

.mailBtn > button {
  text-decoration: none;
  color: white;
  font: 200 2vmax "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  /* background: transparent !important; */
  border-radius: 25px;

  cursor: pointer;
  padding: 2vmax;
}
.mailBtn > button:hover {
  color: #ffff00;
}

@keyframes mailBtnAnimation {
  to {
    transform: translateX(0);
  }
}

.rightFooters {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightFooters > h4 {
  font-family: "Roboto";
  font-size: 1.4vmax;
  text-decoration: underline;
}
.rightFooters > a {
  text-decoration: none;
  font-size: 1.3vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  color: white;
  transition: all 0.5s;
  margin: 0.5vmax;
}

.rightFooters > a:hover {
  color: #800000;
}
.Logo_Diy_Hellem {
  background-color: #ffffff;
  border-radius: 100%;
  width: 290px;
  height: 290px;
  overflow: hidden;
  position: relative;
  /* opacity:0.1; */
}

.Logo_Diy_Hellem img {
  height: 290px;
  width: 290px;
  object-fit: cover;
}
